.container-fluid
  .row
    .col-12.col-lg-6
      %h1.title Contacto
      = simple_form_for(@contact, url: static_pages_contacto_create_path) do |f|
        = f.input :name, label: 'Nombre', input_html: {class: "form-control"}, wrapper_html: { class: 'form-group' }, :required => true, placeholder: "Ingresa tu nombre..."
        = f.input :email, label: 'Correo', input_html: {class: "form-control"}, wrapper_html: { class: 'form-group' }, required: true, placeholder: "Ingresa tu email..."
        = f.input :message, label: 'Mensaje', input_html: {class: "form-control", rows: 10}, wrapper_html: { class: 'form-group' }, :as => :text, :required => false, placeholder: "Ingresa tu mensaje"
        .hidden
          = f.hidden_field :nickname, :hint => 'Leave this field blank!'
        .form-actions
          =# f.button :submit, 'Enviar', type: 'button', class: "btn btn-primary"
          = f.button :submit, 'Enviar', class: "btn btn-secondary"
    .col-12.col-lg-6
      %h3.editable Email
      %p
        %a.enlace-normal{:href => "mailto:contacto@buceocanelillo.com"} contacto@buceocanelillo.com
      %h3.editable Dirección
      / <address><a target="_blank" href="https://www.google.com/maps/place/{{ page.map.address | url_encode }}">{{ page.map.address | replace: ", ", ", <br>" }}</a></address>
      %address
        %a.enlace-normal{:href => "#", :target => "_blank"} Dirección Av. El Canelo 101, Condominio pinares de canelillo en la playa Canelillo, Algarrobo, Chile
        %iframe{:allowfullscreen => "", :frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6664.265440101359!2d-71.68662633211598!3d-33.36760092719542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x96621169c6b76f89%3A0xd39f70f8cdb5e65e!2sAv%20El%20Canelo%20101%2C%20Algarrobo%2C%20Regi%C3%B3n%20de%20Valpara%C3%ADso!5e0!3m2!1ses-419!2scl!4v1567988218872!5m2!1ses-419!2scl", :style => "border:0;", :width => "600"}
