.container
  .row
    .col-12.col-lg-6
      %h1.title Contacto
      = simple_form_for(@contact, url: static_pages_contacto_create_path) do |f|
        = f.input :name, label: 'Nombre', input_html: {class: "form-control"}, wrapper_html: { class: 'form-group' }, :required => true, placeholder: "Ingresa tu nombre..."
        = f.input :email, label: 'Correo', input_html: {class: "form-control"}, wrapper_html: { class: 'form-group' }, required: true, placeholder: "Ingresa tu email..."
        = f.input :message, label: 'Mensaje', input_html: {class: "form-control", rows: 10}, wrapper_html: { class: 'form-group' }, :as => :text, :required => false, placeholder: "Ingresa tu mensaje"
        .hidden
          = f.hidden_field :nickname, :hint => 'Leave this field blank!'
        .form-actions
          =# f.button :submit, 'Enviar', type: 'button', class: "btn btn-primary"
          = f.button :submit, 'Enviar', class: "btn btn-primary"
    .col-12.col-lg-6
      %h3.editable Address
      / <address><a target="_blank" href="https://www.google.com/maps/place/{{ page.map.address | url_encode }}">{{ page.map.address | replace: ", ", ", <br>" }}</a></address>
      %address
        %a{:href => "#", :target => "_blank"} Canelillo, Chile
      %h3.editable Email
      %p
        %a{:href => "mailto:contacto@buceocanelillo.com"} contacto@buceocanelillo.com
