!!!
%html
  %head
    / Global site tag (gtag.js) - Google Analytics
    %script{:async => "", :src => "https://www.googletagmanager.com/gtag/js?id=UA-146427842-1"}
    :javascript
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-146427842-1');
    %link{:crossorigin => "", :href => "https://unpkg.com/leaflet@1.5.1/dist/leaflet.css", :integrity => "sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==", :rel => "stylesheet"}/
    %script{:crossorigin => "", :integrity => "sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==", :src => "https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"}
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{"http-equiv": "X-UA-Compatible", content: "IE=edge"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %title Buceocanelillo
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render partial: '/layouts/messages'
    = render partial: '/layouts/alerts'
    = yield

    %br
    .container-fluid{ style: 'background: #349A8B'}
      %footer.mt-auto.py-3
        / .container.footer{ style: 'background: url("/images/footer_fondo.png") cover no-repeat center center'}
        .container.footer
          .row
            .col-2
              %a{ href: "https://www.padi.com" }
                %img.img-fluid{ src: '/images/icon_padi.png', height: "150", alt: 'icono padi' }
            .col-6
            .col-1
              /%img.img-fluid{ src: '/images/icon_linkedin.png', height: "100", alt: 'icono padi' }
            .col-1
              %a{ href: "https://www.facebook.com/BuceoCanelillo" }
                %img.img-fluid{ src: '/images/icon_facebook.png', height: "100", alt: 'icono padi' }
                / %img.img-fluid{ src: '/images/icon_twitter.png', height: "100", alt: 'icono padi' }
            .col-1
              %a{ href: "https://www.instagram.com/buceocanelillo"}
                %img.img-fluid{ src: '/images/icon_instagram.png', height: "100", alt: 'icono padi' }
            .col-1
              /%img.img-fluid{ src: '/images/icon_email.png', height: "100", alt: 'icono padi' }



          .row
            .col
              / contacto@buceocanelillo.com
